<h2>{{componentInstance.metadata.name}} Properties</h2>
<form #form="ngForm">
  <md-input-container *ngFor="let k of keys(componentInstance.metadata.properties)">
    <label>{{k}}</label>
    <input mdInput name="{{k}}" type="text" [ngModel]="componentInstance.metadata.properties[k]" (ngModelChange)="setProperty(k, $event)">
  </md-input-container>
</form>
<hr/>
<div>
  <span style="font-size: 18px; padding-right: 10px; font-weight: bold">Add property</span>
  <md-input-container>
    <input mdInput #newPropertyName type="text" placeholder="Name" [required]="true">
  </md-input-container>
  <md-input-container>
    <input mdInput #newPropertyValue type="text" placeholder="Value">
  </md-input-container>
  <a [hidden]="!newPropertyName.value" (click)="addProperty()">
    <md-icon style="cursor: pointer; color: green; vertical-align: middle">add</md-icon>
  </a>
</div>

<a (click)="$event.preventDefault(); $event.stopPropagation(); delete();" class="property-editor-action red">
  <md-icon>delete_forever</md-icon>
</a>
<a (click)="clearBorders($event)" class="property-editor-action">
  <md-icon>border_clear</md-icon>
</a>
<a (click)="setBorders($event)" class="property-editor-action">
  <md-icon>border_outer</md-icon>
</a>
<a (click)="setTopBorder($event)" class="property-editor-action">
  <md-icon>border_top</md-icon>
</a>
<a (click)="setRightBorder($event)" class="property-editor-action">
  <md-icon>border_right</md-icon>
</a>
<a (click)="setBottomBorder($event)" class="property-editor-action">
  <md-icon>border_bottom</md-icon>
</a>
<a (click)="setLeftBorder($event)" class="property-editor-action">
  <md-icon>border_left</md-icon>
</a>

