<property-editor #propertyEditor [properties]="metadata.properties" (deleted)="remove()"></property-editor>
  <div [formGroup]="form">
  <label [hidden]="!metadata.properties.showLabel">{{metadata.properties.label}}</label>
  <input [formControlName]="metadata.properties.name" [type]="metadata.properties.type" [maxLength]="metadata.properties.maxlength" [size]="metadata.properties.size"
         [autocomplete]="metadata.properties.autocomplete" [class]="metadata.properties.inputClass"
         [required]="metadata.properties.required" [placeholder]="metadata.properties.placeholder" >
  </div>

