<div *ngIf="helperService.editorHandleIsVisible" style="display: block; clear: both"><div class="editor-handle" (click)="helperService.edit(this)"></div></div>
<div class="table-name"><a>{{metadata.properties.tableName}}</a></div>
<div class="table-container" [style.padding]="metadata.properties.tablePadding">
  <table>
    <thead *ngIf="metadata.properties.showHeaderRow">
    <tr>
      <th [style.width]="c.width" *ngFor="let c of metadata.properties.columns">{{c.label}}</th>
      <th *ngIf="metadata.properties.showActions">
        <div *ngIf="metadata.properties.showAddRowControl" data-action="insert" (click)="insertRow()"><md-icon>add_circle_outline</md-icon></div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr vform-tr *ngFor="let r of controls; let i = index; trackBy:trackByIndex;" [form]="r" [showActions]="metadata.properties.showActions"
        [columns]="metadata.properties.columns" (deleted)="removeRow(i)" (changed)="automaticallyAddRow(i)"></tr>
    </tbody>
  </table>
</div>
