<div *ngIf="helperService.isInEditMode" class="editor-handle" (click)="helperService.edit(this)"></div>
<div class="breast-board-image" [ngClass]="getOverlayClass()" [style.border]="metadata.properties.border">
  <div class="breast-board-label">{{angle}}&deg;</div>
  <div class="breast-board-overlay">
    <div (click)="setAngle(5)" class="label-50">5&deg;</div>
    <div (click)="setAngle(7.5)" class="label-75">7.5&deg;</div>
    <div (click)="setAngle(10)" class="label-100">10&deg;</div>
    <div (click)="setAngle(12.5)" class="label-125">12.5&deg;</div>
    <div (click)="setAngle(15)" class="label-150">15&deg;</div>
  </div>
</div>
<vform-input-field #field [metadata]="angleDataMetadata" [form]="form" (valueChanged)="getAngle($event)"></vform-input-field>

