<div *ngIf="helperService.editorHandleIsVisible" class="editor-handle" (click)="helperService.edit(this)"></div>
<img #image [style.height]="metadata.properties.height" [style.width]="metadata.properties.width"
     [style.backgroundColor]="metadata.properties.backgroundColor" (click)="clickImage()">
<input #imageInput type="file" [style.width]="0" [style.height]="0" (change)="imageChanged($event)">
<vform-input-field #imageData [form]="form" [metadata]="imageDataMetadata"
                   (valueChanged)="setImage($event)"></vform-input-field>

