<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div id="componentList">
  <div class="header">Components</div>
  <div id="formEditorMode">
    <label class="toggle"><input type="radio" name="showEditor" (change)="showEditor()"
                                 [checked]="true"><span>Editor</span></label>
    <label class="toggle"><input type="radio" name="showEditor" (change)="showPreview()"><span>Preview</span></label>
  </div>
  <div class="component" *ngFor="let c of components" [draggable]="true" (dragstart)="dragStart($event, c)">{{c.name}}
  </div>
  <div style="align-self: flex-start; margin-top: auto">
    <input #loadFormFileInput type="file" style="height: 0px; width: 0px" (change)="loadFormFileInputChanged($event)">
    <button #loadFormFileInputButton md-mini-fab  (click)="loadFormFileInput.click()">
      <md-icon>file_upload</md-icon>
    </button>
    <button #loadFormFileInputButton md-mini-fab  (click)="downloadFormFile()">
      <md-icon>file_download</md-icon>
    </button>
  </div>
</div>
<div [hidden]="view !== 'editor'" id="formEditor">
  <div *ngIf="helperService.isInEditMode" class="editor-handle" (click)="helperService.edit(this)"></div>
  <form (dragover)="dragOver($event)" (dragleave)="dragLeave($event)" (drop)="drop($event)" id="formArea"
        [formGroup]="form" [style.width]="metadata.properties.width" [style.height]="metadata.properties.height">
    <ng-container #container></ng-container>
  </form>
</div>
<div [hidden]="view !== 'preview'" id="formEditor">
  <vform-form #preview (valueChanged)="previewFormValueChanged($event)"
              (statusChanged)="previewFormStatusChanged($event)"></vform-form>
  <div class="formData">
    <p>
      <b><h4>Form status:</h4></b> {{previewFormInstanceStatus | json}}
    </p>
    <b><h4>Form data:</h4></b>
    <pre>{{previewFormInstanceValue| json}}</pre>

    <md-input-container>
      <textarea mdInput #formDataToLoad></textarea>
    </md-input-container>
    <br/>
    <button md-raised-button type="button" (click)="setPreviewFormData(formDataToLoad.value)">Load data</button>

  </div>
</div>


