<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
<div id="componentList">
  <div class="header">Components</div>
  <div class="form-check form-check-inline">
    <div id="formEditorMode">
      <label class="toggle"><input type="radio" name="showEditor" (change)="showEditor()" [checked]="true"><span>Editor</span></label>
      <label class="toggle"><input type="radio" name="showEditor" (change)="showJson()"><span>JSON</span></label>
      <label class="toggle"><input type="radio" name="showEditor" (change)="showPreview()"><span>Preview</span></label>
    </div>
  </div>
  <div class="component" *ngFor="let c of components" [draggable]="true" (dragstart)="dragStart($event, c)">{{c.name}}</div>
</div>
<div [hidden]="view !== 'editor'" id="formEditor">
    <div class="editor-handle" [ngClass]="{'on': stateService.editorHandleIsVisible, 'off': !stateService.editorHandleIsVisible}" (click)="stateService.setEditorHandleVisibility(!stateService.editorHandleIsVisible)"></div>
    <div *ngIf="stateService.editorHandleIsVisible" class="editor-handle" (click)="stateService.edit(this)"></div>
    <form (dragover)="dragOver($event)" (dragleave)="dragLeave($event)" (drop)="drop($event)" id="formArea" [formGroup]="form" [style.width]="metadata.properties.width" [style.height]="metadata.properties.height">
      <ng-container  #container></ng-container>
    </form>
</div>
<div [hidden]="view !== 'json'" id="formEditor">
  <pre>{{previewJson | json}}</pre>
</div>
<div [hidden]="view !== 'preview'" id="formEditor">
  <vform-form #preview (valueChanged)="previewFormValueChanged($event)" (statusChanged)="previewFormStatusChanged($event)"></vform-form>
  <div>
    <p>
      <b>Form status:</b> {{previewFormInstanceStatus | json}}
    </p>
    <b>Form data:</b> <pre>{{previewFormInstanceValue| json}}</pre>

    <textarea id="loadFormDataTextArea" #formDataToLoad></textarea> <input id="loadFormDataButton" type="button" (click)="setPreviewFormData(formDataToLoad.value)" value="Load">

  </div>
</div>

<property-editor #pe></property-editor>


