<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
<div id="componentList">
  <div class="header">Components</div>
  <input type="checkbox" class="form-control" [ngModel]="toggleEditorService.visible" (ngModelChange)="toggleEditor()">
  <div class="component" *ngFor="let c of components" [draggable]="true" (dragstart)="dragStart($event, c)">{{c.name}}</div>
</div>
<div id="formEditor" (dragover)="dragOver($event)" (dragleave)="dragLeave($event)" (drop)="drop($event)">
  <form [formGroup]="form" id="fromArea" #container>
  </form>
</div>
